@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #252533;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

pre {
  background-color: #444;
  padding: 10px;
  border-radius: 4px;
}
pre code {
  background-color: #444;
  padding: 2px 4px;
  border-radius: 4px;
}
input, select, textarea, button {
  background-color: #6e6363;
  color: white;
  font-size: 16px;
}
label {
  font-size: 16px;
}